<%# OGPプレビュー用の最小限のページ %>
<!DOCTYPE html>
<html>
<head>
  <title><%= @preview_data[:title] %></title>
  <%= display_meta_tags(default_meta_tags) %>
</head>
<body>
  <h1><%= @preview_data[:title] %></h1>
  <p><%= @preview_data[:description] %></p>
  <%= image_tag @preview_data[:image_url], alt: @preview_data[:title] %>
</body>
</html>
